.ipynb_checkpoints
*/.ipynb_checkpoints/*
.DS_Store
.idea
.idea
*.idea/
*.bas
*.cbc
*.chd
*.ddn
*.dis
*.evt
*.hds
*.lis
*.lpf
*.nam
*.oc
*.pcg
*.riv
*.rch
*.mpbas
*.mpend
*.mplst
*.mpnam
*.mppth
*.mpsim
*.wel
*.list
*.log
*.timeseries
